In [12]:
import pandas as pd
import numpy as np

file1 = pd.read_csv('/Users/avapapetti/Desktop/CNV_Files/SL88823_20180802.cnv.csv', sep = "\t")
file2 = pd.read_csv('/Users/avapapetti/Desktop/CNV_Files/SL88824_20180802.cnv.csv', sep = "\t")

file1['Sample#'] = 1
file2['Sample#'] = 2

file1 = file1[file1["Chrom"] != 'chrM']
file2 = file2[file2["Chrom"] != 'chrM']

In [13]:
common_cnvs = pd.DataFrame(columns = file1.columns)

In [14]:
chrom_num = file1["Chrom"].unique()

In [15]:
for i in range(len(chrom_num)):
    file1_cnvs = file1[(file1['Chrom'] == chrom_num[i])]
    file2_cnvs = file2[(file2['Chrom'] == chrom_num[i])]

    for j in range(len(file1_cnvs)):
        if(abs(file1_cnvs.iloc[j,1] - file1_cnvs.iloc[j,2]) >= 1000):
            for k in range(len(file2_cnvs)):
                if(abs(file2_cnvs.iloc[k,1] - file2_cnvs.iloc[k,2]) >= 1000):
                    if(abs(file1_cnvs.iloc[j,1] - file2_cnvs.iloc[k,1]) <= 25 and abs(file1_cnvs.iloc[j,2] - file2_cnvs.iloc[k,2]) <= 25):
                        if(file1_cnvs.iloc[j,3] == file2_cnvs.iloc[k,3]):
                             if(file1.iloc[j,4] >= .90 and file2.iloc[k,4] >= .90):
                                common_cnvs = pd.concat([common_cnvs, file1_cnvs.iloc[[j]], file2_cnvs.iloc[[k]]]).reset_index(drop = True)

In [16]:
common_cnvs

    Chrom      Start       Stop         Type   P_Value Sample#
0    chr1   21689194   21690226     DELETION  1.000000       1
1    chr1   21689194   21690226     DELETION  0.999980       2
2    chr1   84246365   84249757     DELETION  1.000000       1
3    chr1   84246365   84249757     DELETION  1.000000       2
4    chr1  164079439  164082869  DUPLICATION  1.000000       1
5    chr1  164079439  164082869  DUPLICATION  0.999997       2
6    chr3  149244968  149252373     DELETION  1.000000       1
7    chr3  149244968  149252373     DELETION  1.000000       2
8    chr4   87393977   87395067     DELETION  1.000000       1
9    chr4   87393977   87395067     DELETION  0.999959       2
10   chr5   83655961   83660986     DELETION  1.000000       1
11   chr5   83655961   83660986     DELETION  1.000000       2
12   chr6   78170175   78183012     DELETION  1.000000       1
13   chr6   78170175   78183012     DELETION  1.000000       2
14   chr6   78811357   78817539     DELETION  1.000000       1
15   chr6   78811357   78817539     DELETION  1.000000       2
16   chr6  134268976  134272633     DELETION  0.999998       1
17   chr6  134268976  134272633     DELETION  0.999992       2
18   chr6      95197     124783  DUPLICATION  1.000000       1
19   chr6      95197     124783  DUPLICATION  1.000000       2
20   chr6   26753696   26768160  DUPLICATION  1.000000       1
21   chr6   26753696   26768160  DUPLICATION  1.000000       2
22   chr8    9640461    9642984     DELETION  1.000000       1
23   chr8    9640461    9642984     DELETION  1.000000       2
24   chr9   40099976   40105656     DELETION  0.999967       1
25   chr9   40099976   40105656     DELETION  0.999992       2
26   chr9   40179991   40223531     DELETION  1.000000       1
27   chr9   40179991   40223531     DELETION  1.000000       2
28   chr9   41102512   41108667     DELETION  1.000000       1
29   chr9   41102512   41108667     DELETION  1.000000       2
30   chr9   60739388   60849385     DELETION  1.000000       1
31   chr9   60739388   60849385     DELETION  1.000000       2
32  chr10  113126112  113127299     DELETION  0.999974       1
33  chr10  113126112  113127299     DELETION  1.000000       2
34  chr11  134733716  134737779     DELETION  1.000000       1
35  chr11  134733716  134737779     DELETION  1.000000       2
36  chr11   59043302   59086440  DUPLICATION  1.000000       1
37  chr11   59043302   59086440  DUPLICATION  1.000000       2
38  chr12   33233721   33240026     DELETION  1.000000       1
39  chr12   33233721   33240026     DELETION  1.000000       2
40  chr13   21844425   21847652     DELETION  1.000000       1
41  chr13   21844425   21847652     DELETION  0.999998       2
42  chr13  105576969  105655462     DELETION  1.000000       1
43  chr13  105576969  105655462     DELETION  1.000000       2
44  chr14   41139526   41200321     DELETION  1.000000       1
45  chr14   41139526   41200321     DELETION  1.000000       2
46  chr16   21771249   21777772  DUPLICATION  1.000000       1
47  chr16   21771249   21777772  DUPLICATION  1.000000       2
48  chr18   79618625   79620710     DELETION  1.000000       1
49  chr18   79618625   79620710     DELETION  1.000000       2
50  chr21    8219531    8220541     DELETION  1.000000       1
51  chr21    8219531    8220541     DELETION  1.000000       2
52  chr21    8447047    8451714  DUPLICATION  1.000000       1
53  chr21    8447047    8451714  DUPLICATION  1.000000       2
54  chr22   38962236   38992202     DELETION  1.000000       1
55  chr22   38962236   38992202     DELETION  1.000000       2
56  chr22   22900485   22905851  DUPLICATION  1.000000       1
57  chr22   22900485   22905851  DUPLICATION  1.000000       2